/* ------------------------------------------------------------------------ */
/* Theme coloring for Classic Grey */

@import "theme.less";

@theme-name: "classic_grey";

@page-background: #ffffff;
@page-text: #000000;
@header-background: #dddddd;
@header-text: #000000;
@navbar-background: #444444;
@navbar-text: #ffffff;
@sidebar-background: #dddddd;
@sidebar-text: #000000;
@footer-background: #cccccc;
@footer-text: #000000;
@heading-color: #333333;
@link-color: #0000ff;
@visited-color: #0000ff;
@active-color: #0000ff;
@shadow-topleft: lightgrey;
@form-text-background: #ffffff;
@form-text-color: #000000;
@sans-serif-font: Verdana, Helvetica, sans-serif;
@image-property: opacity(90%); /*value can also be 'none' if no transparency desired*/

/* standard proofreading interface colors */
@standard-interface-background: #cdc0b0;
@standard-interface-background-text: #ffffff;
@standard-interface-text-color: #000000;

/* Attention-getting structures */
@error-color: red;
@warning-color: blue;
@alertbar-color: yellow;
@callout-background: #eee;

/* table styling */
@table-row-even: #ddd; /* this needs to be two colors, actually, one for themed-striped and one for plain striped. There are two different kinds of stripes -- themed and not themed. May not matter so much for the charcoal theme, but does for the others. So we need an even themed and an even unthemed. */
@table-row-odd: @page-background;
@table-border-color: #000000;
@basic-column-header: #ccc;

/* vim: sw=4 ts=4 expandtab
*/
